.container{
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}

.basic-block{
    text-align: center;
}

.basic-logo{
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.basic-logo-link{
    font-size: 80px;
    text-decoration: none;
    color: #4bcaff;
}

.fragment-color{
    color: black;
}

.head-navbar-menu{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    list-style: none;
    background-color: #35444f;

}

.head-navbar-menu-item{
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.head-navbar-menu-link{
    padding-right: 40px;
    padding-left: 40px;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.head-navbar-menu-item:hover{
    background-color: #222f3a;
}

.basic-content{
    display: inline-block;
}

.side-navbar-menu{
    display: inline-block;
    width: 345px;
    border: 2px solid #485863;
    box-sizing: border-box;
    vertical-align: top;
}

.side-navbar-menu-item{
    display: block;
}

.side-navbar-menu-link{
    display: block;
    padding: 30px 0 30px 30px;
    font-size: 30px;
    text-decoration: none;
    color: #485863;
}

.side-navbar-menu-link:hover {
    background-color: #dbdbdb;
    color: black;
    padding-left: 50px;
}

.ramda-img-block{
    display: inline-block;
    width: 885px;
    height: 530px;
    border: 2px solid #485863;
    margin-left: 40px;
}

.ramda-img{
    display: block;
    width: 320px;
    height: 380px;
    margin: 0 auto;
    margin-top: 70px;
}

.ramda-img:hover{
    width: 350px;
    height: 400px;
}

.basic-content{
    display: inline-block;
    text-align: left;
    margin-top: 50px;
    margin-left: 430px;
    font-size: 18px;
    color: #484848;
}

.navbar-footer{
    display: inline-block;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
    list-style: none;
    background-color: #b4b7ba;
}

.navbar-footer-item{
    display: inline-block;
    padding: 20px 10px;
}

.navbar-footer-link{
    font-size: 28px;
    text-decoration: none;
    color: #0c1927;
}

.margin-item{
    margin-left: 30px;
}

.navbar-footer-link:hover{
    text-decoration: underline;
    color: #6597ae;
}

.copyright{
    display: inline-block;
    margin-left: 120px;
    font-size: 24px;
    color: #0c1927;
}